.Flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  padding: 40px;
  background-color: #FFF7F5;
}

.Hijo {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 25px;
}

.img {
  width: 20%;
}

.ItemCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 200px;
  height: 50px;

  border: 1px black solid;
  background-color: #ffe5dd;
  color: #ed6061;
}

.suma {
  background-color: blue;
  color: white;

  height: 100%;
  width: 50px;
}

.resta {
  background-color: red;
  color: white;
}

.btn-finCom{
  height: 30px;
  width: 150px;
  border-radius: 20px;

  background-color: #ffe5dd;
  color: #ed6061;

  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.heartIcon{
  margin: 8px;
}

.fuente {
  font-family: 'Alkatra', cursive;
}