.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 5rem;
  padding-right: 5rem;

  background-color: #f8f9fa;
}

.ul {
  list-style-type: none;
  display: flex;
}

.a {
  padding: 15px;

  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 20px;
  color: #941a1a;
}

.purchase {
  padding: 15px;

  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  font-size: 22px;
  color: #f6528b;
}

.active {
  color: red;
}

.h1 {
  color: #ff1e6c;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

/* boton */
.button {
  display: flex;

  background-color: #ffa8af;
  border-radius: 8px;
  height: 50px;
}
